<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ListenersSection" type="Middleman.Server.Configuration.ListenerConfigurationSection, Middleman.Server"/>
  </configSections>

  <ListenersSection>
    <Listeners>

      <add DestinationHost="http://webservices.highcountry.dcoin.tmca.com.au:81/"
           ListenSsl="false"
           ListenPort="80" />

      <add DestinationHost="http://webservices.highcountry.dcoin.tmca.com.au:5151/"
           ListenSsl="false"
           ListenPort="5050" />

      <add DestinationHost="http://webservices.highcountry.dcoin.tmca.com.au:5161/"
           ListenSsl="false"
           ListenPort="5060" />

      <add DestinationHost="http://webservices.highcountry.dcoin.tmca.com.au:5171/"
           ListenSsl="false"
           ListenPort="5070" />

      <add DestinationHost="http://webservices.highcountry.dcoin.tmca.com.au:5181/"
           ListenSsl="false"
           ListenPort="5080" />

    </Listeners>
  </ListenersSection>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>