<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Middleman.Tests.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
    <section name="ListenersSection"
             type="Middleman.Server.Configuration.ListenerConfigurationSection, Middleman.Server" />
  </configSections>

  <ListenersSection>
    <Listeners>

      <add DestinationHost="http://localhost:56123/" ListenPort="5070" ListenSsl="false" SslCertName="localhost" />
      <!--<add DestinationHost="http://localhost:56123/" ListenPort="5080" ListenSsl="true" SslCertName="localhost" />

      <add DestinationHost="http://localhost:56123/" ListenPort="5050" ListenSsl="false" SslCertName="localhost" />
      <add DestinationHost="http://localhost:56123/" ListenPort="5060" ListenSsl="true" SslCertName="localhost" />-->

    </Listeners>
  </ListenersSection>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Middleman.Tests.Properties.Settings>
      <setting name="Middleman_Tests_test_asmx_TestService" serializeAs="String">
        <value>http://localhost:56934/TestService.asmx</value>
      </setting>
    </Middleman.Tests.Properties.Settings>
  </applicationSettings>
</configuration>