<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target name="TextLog"
        xsi:type="File"
        archiveEvery="Day"
        maxArchiveFiles="7"
        fileName="${basedir}/Middleman.${date:format=yyyy-MM-dd}.log"
        layout="${time}: ${level}; ${message}; ${exception}"
            />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="TextLog" />
  </rules>

</nlog>